* {box-sizing: border-box;}
body{
    margin:5px;
    padding:5px;
    background-image:url("../images/background.jpg");
    background-size:cover;
    background-position:center;
    cursor: url('../images/Sword.cur'), auto;
    font-family: 'Cinzel', serif;
    width:auto;
}

.body > div {
    /*border: 2px solid rgb(233,171,88);*/
    border:4px solid black;
    border-radius: 15px;
    background: rgba(122, 118, 111,0.6);
    padding: 1em;
    color: rgba(90, 0, 0, 0.2);
}
.body {
     display: grid;
     width:auto;
     height:auto;
     grid-template-columns: 14% 70% 14%;
     grid-gap: 10px;
     padding:5px;
     grid-template-rows:13% 87%;
 }
.header {
    grid-column: 1/4;
    height: 100%;
    width:100%;
    -webkit-box-shadow: 10px 18px 62px 30px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 18px 62px 30px rgba(0,0,0,0.75);
    box-shadow: 10px 18px 62px 30px rgba(0,0,0,0.75);

    -webkit-box-shadow: inset 10px 18px 300px 30px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 10px 18px 300px 30px rgba(0,0,0,0.75);
    box-shadow: inset 10px 18px 300px 30px rgba(0,0,0,0.75);
    background: transparent;
    grid-row: 1;
}
.left-bar {
    grid-column: 1;
    grid-row: 2 ;
    -webkit-box-shadow: -4px 5px 300px 1px rgba(135,5,5,0.59);
    -moz-box-shadow: -4px 5px 300px 1px rgba(135,5,5,0.59);
    box-shadow: -4px 5px 300px 1px rgba(135,5,5,0.59);}
.right-bar {
    grid-column: 3;
    -webkit-box-shadow: -4px 5px 300px 1px rgba(135,5,5,0.59);
    -moz-box-shadow: -4px 5px 300px 1px rgba(135,5,5,0.59);
    box-shadow: -4px 5px 300px 1px rgba(135,5,5,0.59);    grid-row: 2;

}
.body-center {
    grid-column: 2;
    -webkit-box-shadow: -4px 5px 300px 1px rgba(135,5,5,0.59);
    -moz-box-shadow: -4px 5px 300px 1px rgba(135,5,5,0.59);
    box-shadow: -4px 5px 300px 1px rgba(135,5,5,0.59);    grid-row: 2;
}

h1{
    height:50px;
    margin:0px auto 3px auto;
    /*margin:0 0 0 0 ;*/
    font-size:40px;
    text-shadow: -1px 2px 2px #000;
    text-align:center;
    color:azure;
    /*margin-bottom:15px;*/
}
.image-leftbar
{
    -webkit-box-shadow: 10px 18px 62px 30px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 18px 62px 30px rgba(0,0,0,0.75);
    box-shadow: 10px 18px 62px 30px rgba(0,0,0,0.75);
    border-radius:7px;
    height: 150px;
    width: 70%;
    margin-left: 20%;
}

h3 {
    display: block;
    font-size:15px;
    -webkit-box-shadow: 10px 18px 62px 30px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 18px 62px 30px rgba(0,0,0,0.75);
    box-shadow: 10px 18px 62px 30px rgba(0,0,0,0.75);
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align:center;
    text-shadow: -1px 2px 2px #000;
    text-align:center;
    color:azure;
}
.h3-without-shadow{
    display: block;
    font-size:15px;

    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align:center;
    text-shadow: -1px 2px 2px #000;
    text-align:center;
    color:azure;
}
